/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022-08-24, 11:12:10
    Author     : Ghani
*/

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h1 { 
    color: teal;
}
label {
    float: left;
    width: 10em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em; 
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

SELECT StudentID, firstName, lastName, address, city FROM Student ORDER BY studentID
SELECT StudentID, firstName, lastName, address, city FROM Student ORDER BY studentID

th{
    text-align: center;
    font-weight: bold;
}